/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgb(0, 0, 0, 0.12);
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 4px;
  padding: 8px 0;
}

.navbar-brand,
.nav-link {
  padding: 8px 16px;
}

.navbar-brand:hover,
.nav-link:hover {
  background-color: #ccc;
}

.navbar-brand span {
  font-weight: 800;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

/* Header */
.header-container {
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 16px;
}

/* Projects */
.projects {
  margin-bottom: 16px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.project-item {
  position: relative;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;

  color: #fff;
  background-color: #000;
  padding: 8px 16px;
}
